<%= form_for @guest, url: url, class: "form-horizontal" do |f| %>
  <%= render "shared/alert", invalid_object: @guest, name: "guest" %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control",  pattern: "[0-9]+", minlength: "10", maxlength: "10" %>
    <small class="form-text text-muted">Do not add leading 1.</small>
  </div>

  <div class="form-group">
    <%= f.label :notification_category %>
    <%= f.select :notification_category, [:text, :email, :both], {}, class: "form-control" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", event_guests_path(@event), class: "btn btn-secondary" %>
<% end %>
