<tr>
  <td><%= guest.full_name %></td>
  <td><%= guest.email %></td>
  <td><%= guest.phone_number %></td>
  <td><%= guest.notification_category %></td>
  <td><%= link_to "", edit_event_guest_path(@event, guest), class: "fa fa-pencil" %></td>
</tr>
