<% breadcrumb :edit_notification, @event, @experience, @notification %>

<h1>Edit <%= @experience.name %> Notification</h1>

<div class="mt-3">
  <%= form_for @notification, url: event_experience_notification_path(@event, @experience, @notification), class: "form-horizontal" do |f| %>
    <%= render "shared/alert", invalid_object: @notification, name: "notification" %>

    <div class="form-group">
      <%= f.label :sms_body %>
      <%= f.text_area :sms_body, class: "form-control", onkeyup: "countChar(this)" %>
      <small id="sms-character-count-help" class="form-text text-muted">
        <%= @notification.sms_body.length %> characters
      </small>
      <small class="form-text text-muted">
        We recommend sms messages stay under 160 characters to ensure all guests
        receive the full message.
      </small>
    </div>

    <div class="form-group">
      <%= f.label :email_body %>
      <%= f.text_area :email_body, class: "form-control", rows: "10" %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", event_experience_notification_path(@event, @experience, @notification), class: "btn btn-secondary"  %>
  <% end %>
</div>

<script>
  function countChar(input_field) {
    var sms_body_length = input_field.value.length;
    var help_element = document.getElementById('sms-character-count-help');
    help_element.innerHTML = sms_body_length + ' characters';
  };
</script>
