<% breadcrumb :notification, @event, @experience, @notification %>

<h1>Notification for <%= @experience.name %></h1>

<div class="mb-3">
  <%= link_to "Edit", edit_event_experience_notification_path(@event, @experience, @notification) %>
</div>

<h2>SMS Body</h2>
<div class="card mb-3">
  <div class="card-body">
    <%= @notification.sms_body %>
  </div>
</div>

<h2>Email Body</h2>
<div class="card mb-3">
  <div class="card-body">
    <%= render "notifications/preview", email_body: @notification.email_body %>
  </div>
</div>

<h2>Guests</h2>

<div class="mb-3">
  <%= link_to "Add guests", new_event_experience_notification_guests_notification_path(@event, @experience, @notification) %>
</div>

<div id="accordion">
  <% @guests_notifications.each do |guests_notification| %>
    <%= render "notifications/guest", event: @event, guests_notification: guests_notification, guest: guests_notification.guest %>
  <% end %>
</div>
