<%= form_for @event, url: url, class: "form-horizontal" do |f| %>
  <%= render "shared/alert", invalid_object: @event, name: "event" %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :occurs_at %>
    <%= f.datetime_select :occurs_at %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", events_path, class: "btn btn-secondary" %>
<% end %>
