<%= form_for @experience, url: url, class: "form-horizontal" do |f| %>
  <%= render "shared/alert", invalid_object: @experience, name: "experience" %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :occurs_at %>
    <%= f.datetime_select :occurs_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notification_offset, "How long before the experience should the notification be sent?" %>
    <%= f.number_field :notification_offset, class: "form-control" %>
    <small id="notification-offset-help" class="form-text text-muted">In minutes</small>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", event_experiences_path(@event), class: "btn btn-secondary" %>
<% end %>
